@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @inject IAuthorizationService AuthorizationService
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@model List<City>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

       
        .table thead th {
            background-color: #f8f9fa;
            color: #212529;
            font-weight: bold;
        }

        .table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

     
        .table td, .table th {
            padding: 12px 15px;
            border: 1px solid #dee2e6;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
    }

        .btn-secondary:hover {
            background-color: #495057;
        }

   
    .shadow {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

   
    .table-responsive {
        overflow-x: auto;
    }

 
    .form-check-input[type="checkbox"] {
        width: 40px;
        height: 20px;
        margin: 0;
        cursor: pointer;
    }

        .form-check-input[type="checkbox"]:checked + .form-check-label::before {
            background-color: #007bff;
        }

        .form-check-input[type="checkbox"]:checked + .form-check-label::after {
            left: 20px;
        }

    .input-group {
        width: 100%;
    }

    .form-control.search-input {
        border-radius: 5px 0 0 5px;
        height: 38px; /* Adjust the height as needed */
    }

    .btn.btn-primary.search-button {
        border-radius: 0 5px 5px 0;
        height: 38px; /* Adjust the height to match the input */
    }

    h6 a:hover {
        color: #ffc400 !important;
    }

</style>

<h1 class="text-bold text-light">Cities</h1>


<div class="container my-2">
    <div class="row justify-content-between">
        <div>
            <h6 class="mt-2">
                <svg stroke="currentColor" fill="#fff" stroke-width="0" viewBox="0 0 384 512" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
                > <a asp-action="Index" class="text-decoration-none text-light text-bold">Cities</a>
            </h6>
        </div>
        @if (AuthorizationService.AuthorizeAsync(User, Permissions.City.Create).Result.Succeeded)
        {
            <div>
                <a asp-action="Create" class="btn btn-primary">Add City</a> 
        </div>
        }
    </div>
</div>

<div class="card shadow mb-4 text-center">
    <div class="card-body">
        <div class="table-responsive">

            <div class="col-md-3">
                <form asp-action="Index">
                    <div class="input-group">
                        <input name="childname" class="form-control search-input" type="text" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-primary search-button" type="submit" id="button-addon2">Search</button>
                    </div>
                </form>
            </div>
            <partial name="_Pager" model="@pager" />

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name </th>
                        <th>Shipping Cost</th>
                        <th>PickUp Cost</th>
                        <th>Status</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (City city in Model)
                    {
                        <tr id="@city.Id">
                            <td>@city.Id </td>
                            <td>@city.Name</td>
                            <td>@city.ShippingCost</td>
                            <td>@city.PickUpCost</td>
                            <td>
                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.City.Delete).Result.Succeeded)
                                {
                                    <div class="form-check form-switch d-flex justify-content-center me-4">
                                        <input class="form-check-input me-4" type="checkbox" id="flexSwitchCheckChecked" onclick="changeStatus('@city.Id') " @(city.IsDeleted ? "" : "checked")>
                                    </div>
                                }
                            </td>
                            <td>
                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.City.Edit).Result.Succeeded)
                             {
                                    <a class="btn btn-secondary ml-2" asp-action="Edit" asp-controller="City" asp-route-id="@city.Id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 512 512"><path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" /></svg></a>
                                }
                            </td>
                        </tr>
                    }
                <tbody>


            </table>
            <partial name="_Pager" model="@pager" />

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
        function changeStatus(id) {
            $.ajax({
                url: `/City/ChangeState/${id}`,
                method: 'GET',
                success: function () {
                    console.log("Sucess");

                },
                error: function () {
                    console.log("Error");

                }
            });
        }
    </script>
    <script>
        $(function () {
            $("#basic-text1").click(function () {
                $("Form").submit();
            })
        });
    </script>
}